### Ulepszona wersja 040_electricity

In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('ready_data_030.csv',low_memory=False)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1032032 entries, 0 to 1032031
Data columns (total 18 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   country_or_area        1032032 non-null  object
 1   ISO                    1032032 non-null  object
 2   year                   1032032 non-null  int64
 3   transaction_type       1026856 non-null  object
 4   unit                   1032032 non-null  object
 5   quantity               1032032 non-null  float64
 6   category               1032032 non-null  object
 7   CL4                    61974 non-null    object
 8   CL3                    277607 non-null   object
 9   CL2                    312532 non-null   object
 10  commodity_transaction  1032032 non-null  object
 11  commodity              1032032 non-null  object
 12  L1                     1032032 non-null  object
 13  L2                     1032032 non-null  object
 14  L3                     1032032 non-null  object
 15  L4                     1032032 non-null  object
 16  new_unit               1032032 non-null  object
 17  new_quantity           1032032 non-null  float64
dtypes: float64(2), int64(1), object(15)
memory usage: 141.7+ MB

## INFO
Kategoria Gross skada się sumy:
<ul>
    <li>thermal</li><li>nuclear</li><li>geothermal</li><li>hydro</li><li>solar</li><li>tide</li><li>wind</li><li>dodatkowo z: chemical heat – Autoproducer, chemical heat – Main activity, other sources – Autoproducer,From other sources – Main activity</li>

In [314]:
def get_country_electircity_stats(data,country,year):
    output_list = []
    data_list = ['Electricity - Gross production','Electricity - net production',
                 'Electricity - total production, main activity','Electricity - total production, autoproducer',
                 'Electricity - total thermal production','Electricity - total nuclear production',
                 'Electricity - total geothermal production','Electricity - total hydro production',
                 'Electricity - total solar production','Electricity - total tide, wave production',
                 'Electricity - total wind production',
                 'From chemical heat – Autoproducer','From chemical heat – Main activity',
                 'From other sources – Autoproducer','From other sources – Main activity']
    short_names = ['Gross', 'net','production-main activity','total-autoproducer',
                   'thermal','nuclear','geothermal','hydro','solar','tide','wind',
                   'chem-heat-auto','chem-heat-main','other-auto','other-main']
    x=0
    for i in data_list: 
        z = data['new_quantity'][(data['commodity_transaction'] == i) 
        & (data['country_or_area'] == country) & (df['year'] == year)]
        if z.empty:
            z=[0]
        z=pd.Series(z)
        output_list.append([short_names[x],float(z)])
        x+=1
    data_frame = pd.DataFrame(output_list)
    production_diff = data_frame.iloc[0,1].sum() - data_frame.iloc[4:15,1].sum()
    if_diff = 'difference beetwen gross production and sum of poduction in particular categories is: {}'.format(production_diff)

    return(output_list,data_frame,if_diff)

In [315]:
(a,b,c) = get_country_electircity_stats(df,'Netherlands',2001)

In [316]:
print(a)
print('\n')
print(c)
b

[['Gross', 93663000.0], ['net', 89812000.0], ['production-main activity', 80009000.0], ['total-autoproducer', 13654000.0], ['thermal', 88491000.0], ['nuclear', 3976000.0], ['geothermal', 0.0], ['hydro', 117000.0], ['solar', 12000.0], ['tide', 0.0], ['wind', 825000.0], ['chem-heat-auto', 0.0], ['chem-heat-main', 0.0], ['other-auto', 131000.0], ['other-main', 111000.0]]


difference beetwen gross production and sum of poduction in particular categories is: 0.0

                           0           1
0                      Gross  93663000.0
1                        net  89812000.0
2   production-main activity  80009000.0
3         total-autoproducer  13654000.0
4                    thermal  88491000.0
5                    nuclear   3976000.0
6                 geothermal         0.0
7                      hydro    117000.0
8                      solar     12000.0
9                       tide         0.0
10                      wind    825000.0
11            chem-heat-auto         0.0
12            chem-heat-main         0.0
13                other-auto    131000.0
14                other-main    111000.0

In [317]:
for i in range(1995,2015):
    (a,b,c) = get_country_electircity_stats(df,'Poland',i)
    print(i,':',c)

1995 : difference beetwen gross production and sum of poduction in particular categories is: 0.0
1996 : difference beetwen gross production and sum of poduction in particular categories is: 0.0
1997 : difference beetwen gross production and sum of poduction in particular categories is: 0.0
1998 : difference beetwen gross production and sum of poduction in particular categories is: 0.0
1999 : difference beetwen gross production and sum of poduction in particular categories is: 0.0
2000 : difference beetwen gross production and sum of poduction in particular categories is: 0.0
2001 : difference beetwen gross production and sum of poduction in particular categories is: 0.0
2002 : difference beetwen gross production and sum of poduction in particular categories is: 0.0
2003 : difference beetwen gross production and sum of poduction in particular categories is: 0.0
2004 : difference beetwen gross production and sum of poduction in particular categories is: 0.0
2005 : difference beetwen gross production and sum of poduction in particular categories is: 0.0
2006 : difference beetwen gross production and sum of poduction in particular categories is: 0.0
2007 : difference beetwen gross production and sum of poduction in particular categories is: 0.0
2008 : difference beetwen gross production and sum of poduction in particular categories is: 0.0
2009 : difference beetwen gross production and sum of poduction in particular categories is: 0.0
2010 : difference beetwen gross production and sum of poduction in particular categories is: 0.0
2011 : difference beetwen gross production and sum of poduction in particular categories is: 0.0
2012 : difference beetwen gross production and sum of poduction in particular categories is: 0.0
2013 : difference beetwen gross production and sum of poduction in particular categories is: 0.0
2014 : difference beetwen gross production and sum of poduction in particular categories is: 0.0