In [1]:
import pandas as pd


df = pd.read_csv('ready_data_030.csv', low_memory=False)
df

,country_or_area,ISO,year,transaction_type,unit,quantity,category,CL4,CL3,CL2,commodity_transaction,commodity,L1,L2,L3,L4,new_unit,new_quantity
0,Austria,AUT,1996,exports,"Metric tons, thousand",5.0,additives_and_oxygenates,NaN,NaN,exports,Additives and Oxygenates - Exports,additives and oxygenates,oil,additives_and_oxygenates,0,0,"Metric tons, thousand",5.0
1,Austria,AUT,1995,exports,"Metric tons, thousand",17.0,additives_and_oxygenates,NaN,NaN,exports,Additives and Oxygenates - Exports,additives and oxygenates,oil,additives_and_oxygenates,0,0,"Metric tons, thousand",17.0
2,Belgium,BEL,2014,exports,"Metric tons, thousand",0.0,additives_and_oxygenates,NaN,NaN,exports,Additives and Oxygenates - Exports,additives and oxygenates,oil,additives_and_oxygenates,0,0,"Metric tons, thousand",0.0
3,Belgium,BEL,2013,exports,"Metric tons, thousand",0.0,additives_and_oxygenates,NaN,NaN,exports,Additives and Oxygenates - Exports,additives and oxygenates,oil,additives_and_oxygenates,0,0,"Metric tons, thousand",0.0
4,Belgium,BEL,2012,exports,"Metric tons, thousand",35.0,additives_and_oxygenates,NaN,NaN,exports,Additives and Oxygenates - Exports,additives and oxygenates,oil,additives_and_oxygenates,0,0,"Metric tons, thousand",35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1032027,Viet Nam,VNM,2012,total wproduction,"Kilowatt-hours, million",92.0,wind_electricity,NaN,NaN,NaN,Electricity - total wind production,electricity,0,0,0,0,"Kilowatt-hours, thousand",92000.0
1032028,Viet Nam,VNM,2011,total wproduction,"Kilowatt-hours, million",87.0,wind_electricity,NaN,NaN,NaN,Electricity - total wind production,electricity,0,0,0,0,"Kilowatt-hours, thousand",87000.0
1032029,Viet Nam,VNM,2010,total wproduction,"Kilowatt-hours, million",50.0,wind_electricity,NaN,NaN,NaN,Electricity - total wind production,electricity,0,0,0,0,"Kilowatt-hours, thousand",50000.0
1032030,Viet Nam,VNM,2009,total wproduction,"Kilowatt-hours, million",10.0,wind_electricity,NaN,NaN,NaN,Electricity - total wind production,electricity,0,0,0,0,"Kilowatt-hours, thousand",10000.0
1032031,Viet Nam,VNM,2008,total wproduction,"Kilowatt-hours, million",1.0,wind_electricity,NaN,NaN,NaN,Electricity - total wind production,electricity,0,0,0,0,"Kilowatt-hours, thousand",1000.0

### wybrane kolumny

In [2]:
df = df[['country_or_area', 'ISO', 'year', 'new_unit', 'new_quantity','commodity_transaction', 'category']]
df

,country_or_area,ISO,year,new_unit,new_quantity,commodity_transaction,category
0,Austria,AUT,1996,"Metric tons, thousand",5.0,Additives and Oxygenates - Exports,additives_and_oxygenates
1,Austria,AUT,1995,"Metric tons, thousand",17.0,Additives and Oxygenates - Exports,additives_and_oxygenates
2,Belgium,BEL,2014,"Metric tons, thousand",0.0,Additives and Oxygenates - Exports,additives_and_oxygenates
3,Belgium,BEL,2013,"Metric tons, thousand",0.0,Additives and Oxygenates - Exports,additives_and_oxygenates
4,Belgium,BEL,2012,"Metric tons, thousand",35.0,Additives and Oxygenates - Exports,additives_and_oxygenates
...,...,...,...,...,...,...,...
1032027,Viet Nam,VNM,2012,"Kilowatt-hours, thousand",92000.0,Electricity - total wind production,wind_electricity
1032028,Viet Nam,VNM,2011,"Kilowatt-hours, thousand",87000.0,Electricity - total wind production,wind_electricity
1032029,Viet Nam,VNM,2010,"Kilowatt-hours, thousand",50000.0,Electricity - total wind production,wind_electricity
1032030,Viet Nam,VNM,2009,"Kilowatt-hours, thousand",10000.0,Electricity - total wind production,wind_electricity
1032031,Viet Nam,VNM,2008,"Kilowatt-hours, thousand",1000.0,Electricity - total wind production,wind_electricity

### wybrane kategorie

In [3]:
#List of columns selected for analysis
data_list = ['Electricity - Gross production',
             #'Electricity - total production, main activity', 
             #'Electricity - total production, autoproducer',
             'Electricity - total thermal production', 
             'Electricity - total nuclear production',
             'Electricity - total geothermal production', 
             'Electricity - total hydro production',
             'Electricity - total solar production',
             'Electricity - total tide, wave production',
             'Electricity - total wind production',
             'From chemical heat – Autoproducer',
             'From chemical heat – Main activity',
             'From other sources – Autoproducer',
             'From other sources – Main activity']
                 
df = df[df['commodity_transaction'].isin(data_list)]
df.head()

,country_or_area,ISO,year,new_unit,new_quantity,commodity_transaction,category
423933,Australia,AUS,2014,"Kilowatt-hours, thousand",1000.0,Electricity - total geothermal production,geothermal
423934,Australia,AUS,2013,"Kilowatt-hours, thousand",1000.0,Electricity - total geothermal production,geothermal
423935,Australia,AUS,2012,"Kilowatt-hours, thousand",1000.0,Electricity - total geothermal production,geothermal
423936,Australia,AUS,2011,"Kilowatt-hours, thousand",1000.0,Electricity - total geothermal production,geothermal
423937,Australia,AUS,2010,"Kilowatt-hours, thousand",1000.0,Electricity - total geothermal production,geothermal

In [4]:
x = df[df['commodity_transaction'] == "Electricity - total hydro production"]['new_quantity'].sum()
y = df[df['commodity_transaction'] == 'Electricity - total tide, wave production']['new_quantity'].sum()

a = x+y
print('x: ', x, ' +  y: ',y, ' = ', a )

x:  63726372610.24  +  y:  11694000.0  =  63738066610.24

### Adding "Electricity - total hydro production" to 'Electricity - total tide, wave production'

In [5]:

dict_com_tr = {"Electricity - total hydro production":'Electricity - total tide, wave and hydro production',
         'Electricity - total tide, wave production': 'Electricity - total tide, wave and hydro production' }
dict_category = {'tide_wave_and_ocean_electricity': 'hydro_electricity',
                    'hydro':'hydro_electricity'}
df['commodity_transaction'] = df['commodity_transaction'].replace(dict_com_tr)
df['category'] = df['category'].replace(dict_category)
df.head()

C:\Users\user\AppData\Local\Temp\ipykernel_2168\703847972.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['commodity_transaction'] = df['commodity_transaction'].replace(dict_com_tr)
C:\Users\user\AppData\Local\Temp\ipykernel_2168\703847972.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['category'] = df['category'].replace(dict_category)

,country_or_area,ISO,year,new_unit,new_quantity,commodity_transaction,category
423933,Australia,AUS,2014,"Kilowatt-hours, thousand",1000.0,Electricity - total geothermal production,geothermal
423934,Australia,AUS,2013,"Kilowatt-hours, thousand",1000.0,Electricity - total geothermal production,geothermal
423935,Australia,AUS,2012,"Kilowatt-hours, thousand",1000.0,Electricity - total geothermal production,geothermal
423936,Australia,AUS,2011,"Kilowatt-hours, thousand",1000.0,Electricity - total geothermal production,geothermal
423937,Australia,AUS,2010,"Kilowatt-hours, thousand",1000.0,Electricity - total geothermal production,geothermal

In [6]:
df = df.groupby(['country_or_area','ISO','commodity_transaction','year','category','new_unit']).agg({'new_quantity':'sum'}).reset_index()
df.head(50)

,country_or_area,ISO,commodity_transaction,year,category,new_unit,new_quantity
0,Afghanistan,AFG,Electricity - Gross production,1994,total_electricity,"Kilowatt-hours, thousand",687000.0
1,Afghanistan,AFG,Electricity - Gross production,1995,total_electricity,"Kilowatt-hours, thousand",675000.0
2,Afghanistan,AFG,Electricity - Gross production,1996,total_electricity,"Kilowatt-hours, thousand",675000.0
3,Afghanistan,AFG,Electricity - Gross production,1997,total_electricity,"Kilowatt-hours, thousand",670000.0
4,Afghanistan,AFG,Electricity - Gross production,1998,total_electricity,"Kilowatt-hours, thousand",665000.0
5,Afghanistan,AFG,Electricity - Gross production,1999,total_electricity,"Kilowatt-hours, thousand",685000.0
6,Afghanistan,AFG,Electricity - Gross production,2000,total_electricity,"Kilowatt-hours, thousand",687700.0
7,Afghanistan,AFG,Electricity - Gross production,2001,total_electricity,"Kilowatt-hours, thousand",691100.0
8,Afghanistan,AFG,Electricity - Gross production,2002,total_electricity,"Kilowatt-hours, thousand",722200.0
9,Afghanistan,AFG,Electricity - Gross production,2003,total_electricity,"Kilowatt-hours, thousand",976000.0
10,Afghanistan,AFG,Electricity - Gross production,2004,total_electricity,"Kilowatt-hours, thousand",780000.0
11,Afghanistan,AFG,Electricity - Gross production,2005,total_electricity,"Kilowatt-hours, thousand",906000.0
12,Afghanistan,AFG,Electricity - Gross production,2006,total_electricity,"Kilowatt-hours, thousand",913000.0
13,Afghanistan,AFG,Electricity - Gross production,2007,total_electricity,"Kilowatt-hours, thousand",950000.0
14,Afghanistan,AFG,Electricity - Gross production,2008,total_electricity,"Kilowatt-hours, thousand",788000.0
15,Afghanistan,AFG,Electricity - Gross production,2009,total_electricity,"Kilowatt-hours, thousand",889000.0
16,Afghanistan,AFG,Electricity - Gross production,2010,total_electricity,"Kilowatt-hours, thousand",892000.0
17,Afghanistan,AFG,Electricity - Gross production,2011,total_electricity,"Kilowatt-hours, thousand",1005000.0
18,Afghanistan,AFG,Electricity - Gross production,2012,total_electricity,"Kilowatt-hours, thousand",1022000.0
19,Afghanistan,AFG,Electricity - Gross production,2013,total_electricity,"Kilowatt-hours, thousand",1022300.0
20,Afghanistan,AFG,Electricity - Gross production,2014,total_electricity,"Kilowatt-hours, thousand",1049300.0
21,Afghanistan,AFG,Electricity - total thermal production,1994,thermal_electricity,"Kilowatt-hours, thousand",215000.0
22,Afghanistan,AFG,Electricity - total thermal production,1995,thermal_electricity,"Kilowatt-hours, thousand",209000.0
23,Afghanistan,AFG,Electricity - total thermal production,1996,thermal_electricity,"Kilowatt-hours, thousand",200000.0
24,Afghanistan,AFG,Electricity - total thermal production,1997,thermal_electricity,"Kilowatt-hours, thousand",185000.0
25,Afghanistan,AFG,Electricity - total thermal production,1998,thermal_electricity,"Kilowatt-hours, thousand",170000.0
26,Afghanistan,AFG,Electricity - total thermal production,1999,thermal_electricity,"Kilowatt-hours, thousand",180000.0
27,Afghanistan,AFG,Electricity - total thermal production,2000,thermal_electricity,"Kilowatt-hours, thousand",172000.0
28,Afghanistan,AFG,Electricity - total thermal production,2001,thermal_electricity,"Kilowatt-hours, thousand",187900.0
29,Afghanistan,AFG,Electricity - total thermal production,2002,thermal_electricity,"Kilowatt-hours, thousand",151200.0
30,Afghanistan,AFG,Electricity - total thermal production,2003,thermal_electricity,"Kilowatt-hours, thousand",329000.0
31,Afghanistan,AFG,Electricity - total thermal production,2004,thermal_electricity,"Kilowatt-hours, thousand",215000.0
32,Afghanistan,AFG,Electricity - total thermal production,2005,thermal_electricity,"Kilowatt-hours, thousand",235000.0
33,Afghanistan,AFG,Electricity - total thermal production,2006,thermal_electricity,"Kilowatt-hours, thousand",267000.0
34,Afghanistan,AFG,Electricity - total thermal production,2007,thermal_electricity,"Kilowatt-hours, thousand",266000.0
35,Afghanistan,AFG,Electricity - total thermal production,2008,thermal_electricity,"Kilowatt-hours, thousand",247000.0
36,Afghanistan,AFG,Electricity - total thermal production,2009,thermal_electricity,"Kilowatt-hours, thousand",114000.0
37,Afghanistan,AFG,Electricity - total thermal production,2010,thermal_electricity,"Kilowatt-hours, thousand",125000.0
38,Afghanistan,AFG,Electricity - total thermal production,2011,thermal_electricity,"Kilowatt-hours, thousand",176000.0
39,Afghanistan,AFG,Electricity - total thermal production,2012,thermal_electricity,"Kilowatt-hours, thousand",144000.0
40,Afghanistan,AFG,Electricity - total thermal production,2013,thermal_electricity,"Kilowatt-hours, thousand",218400.0
41,Afghanistan,AFG,Electricity - total thermal production,2014,thermal_electricity,"Kilowatt-hours, thousand",154000.0
42,Afghanistan,AFG,"Electricity - total tide, wave and hydro produ...",1994,hydro_electricity,"Kilowatt-hours, thousand",472000.0
43,Afghanistan,AFG,"Electricity - total tide, wave and hydro produ...",1995,hydro_electricity,"Kilowatt-hours, thousand",466000.0
44,Afghanistan,AFG,"Electricity - total tide, wave and hydro produ...",1996,hydro_electricity,"Kilowatt-hours, thousand",475000.0
45,Afghanistan,AFG,"Electricity - total tide, wave and hydro produ...",1997,hydro_electricity,"Kilowatt-hours, thousand",485000.0
46,Afghanistan,AFG,"Electricity - total tide, wave and hydro produ...",1998,hydro_electricity,"Kilowatt-hours, thousand",495000.0
47,Afghanistan,AFG,"Electricity - total tide, wave and hydro produ...",1999,hydro_electricity,"Kilowatt-hours, thousand",505000.0
48,Afghanistan,AFG,"Electricity - total tide, wave and hydro produ...",2000,hydro_electricity,"Kilowatt-hours, thousand",515700.0
49,Afghanistan,AFG,"Electricity - total tide, wave and hydro produ...",2001,hydro_electricity,"Kilowatt-hours, thousand",503200.0

### to check

In [7]:
b = df[df['commodity_transaction'] == 'Electricity - total tide, wave and hydro production']['new_quantity'].sum()
print("b: ", b)

b:  63738066610.24

In [8]:
a-b

0.0

In [9]:
df.commodity_transaction.value_counts()

Electricity - Gross production                         4695
Electricity - total thermal production                 4665
Electricity - total tide, wave and hydro production    3194
Electricity - total wind production                    1297
Electricity - total solar production                    907
Electricity - total nuclear production                  647
Electricity - total geothermal production               427
From other sources – Autoproducer                       282
From other sources – Main activity                      210
From chemical heat – Autoproducer                       107
From chemical heat – Main activity                       19
Name: commodity_transaction, dtype: int64

In [10]:
df.category.value_counts()

total_electricity      5121
thermal_electricity    4665
hydro_electricity      3194
wind_electricity       1297
solar_electricity       907
nuclear_electricity     647
geothermal              427
heat                    192
Name: category, dtype: int64

## file creation

In [12]:
df.to_csv('final_version.csv', index= False)
df

,country_or_area,ISO,commodity_transaction,year,category,new_unit,new_quantity
0,Afghanistan,AFG,Electricity - Gross production,1994,total_electricity,"Kilowatt-hours, thousand",687000.0
1,Afghanistan,AFG,Electricity - Gross production,1995,total_electricity,"Kilowatt-hours, thousand",675000.0
2,Afghanistan,AFG,Electricity - Gross production,1996,total_electricity,"Kilowatt-hours, thousand",675000.0
3,Afghanistan,AFG,Electricity - Gross production,1997,total_electricity,"Kilowatt-hours, thousand",670000.0
4,Afghanistan,AFG,Electricity - Gross production,1998,total_electricity,"Kilowatt-hours, thousand",665000.0
...,...,...,...,...,...,...,...
16445,Zimbabwe,ZWE,"Electricity - total tide, wave and hydro produ...",2010,hydro_electricity,"Kilowatt-hours, thousand",5762800.0
16446,Zimbabwe,ZWE,"Electricity - total tide, wave and hydro produ...",2011,hydro_electricity,"Kilowatt-hours, thousand",5201800.0
16447,Zimbabwe,ZWE,"Electricity - total tide, wave and hydro produ...",2012,hydro_electricity,"Kilowatt-hours, thousand",5387300.0
16448,Zimbabwe,ZWE,"Electricity - total tide, wave and hydro produ...",2013,hydro_electricity,"Kilowatt-hours, thousand",4981800.0
16449,Zimbabwe,ZWE,"Electricity - total tide, wave and hydro produ...",2014,hydro_electricity,"Kilowatt-hours, thousand",5431000.0