In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 300)

df = pd.read_csv("all_energy_statistics.csv", low_memory=False)

df.head()

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category
0,Austria,Additives and Oxygenates - Exports,1996,"Metric tons, thousand",5.0,NaN,additives_and_oxygenates
1,Austria,Additives and Oxygenates - Exports,1995,"Metric tons, thousand",17.0,NaN,additives_and_oxygenates
2,Belgium,Additives and Oxygenates - Exports,2014,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
3,Belgium,Additives and Oxygenates - Exports,2013,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
4,Belgium,Additives and Oxygenates - Exports,2012,"Metric tons, thousand",35.0,NaN,additives_and_oxygenates

In [2]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 7 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   country_or_area        1189482 non-null  object
 1   commodity_transaction  1189482 non-null  object
 2   year                   1189482 non-null  int64
 3   unit                   1189482 non-null  object
 4   quantity               1189482 non-null  float64
 5   quantity_footnotes     163946 non-null   float64
 6   category               1189482 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 393.1 MB

In [3]:
df.country_or_area = df.country_or_area.astype('category')
df.commodity_transaction = df.commodity_transaction.astype('category')
df.unit = df.unit.astype('category')
df.category = df.category.astype('category')

In [4]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 7 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   country_or_area        1189482 non-null  category
 1   commodity_transaction  1189482 non-null  category
 2   year                   1189482 non-null  int64
 3   unit                   1189482 non-null  category
 4   quantity               1189482 non-null  float64
 5   quantity_footnotes     163946 non-null   float64
 6   category               1189482 non-null  category
dtypes: category(4), float64(2), int64(1)
memory usage: 34.4 MB

## Selecting years

In [5]:
to_remove = df[df['country_or_area'].str.endswith('(former)')]
to_remove[['year','country_or_area']].value_counts().sort_index()

year  country_or_area
1990  Czechoslovakia (former)      182
      German Dem. R. (former)      106
      Germany, Fed. R. (former)    293
      Neth. Antilles (former)      138
      Pacific Islands (former)      34
      Sudan (former)               174
      USSR (former)                191
      Yemen Arab Rep. (former)      45
      Yemen, Dem. (former)          61
      Yugoslavia, SFR (former)     224
1991  Czechoslovakia (former)      140
      Neth. Antilles (former)      130
      Pacific Islands (former)      34
      Sudan (former)               176
      USSR (former)                159
      Yugoslavia, SFR (former)     163
1992  Czechoslovakia (former)        3
      Neth. Antilles (former)      129
      Sudan (former)               176
1993  Neth. Antilles (former)      126
      Sudan (former)               178
      Yugoslavia, SFR (former)       8
1994  Neth. Antilles (former)      124
      Sudan (former)               179
1995  Neth. Antilles (former)      123
      Sudan (former)               184
1996  Neth. Antilles (former)      123
      Sudan (former)               176
1997  Neth. Antilles (former)      136
      Sudan (former)               181
1998  Neth. Antilles (former)      137
      Sudan (former)               176
1999  Neth. Antilles (former)      137
      Sudan (former)               173
2000  Neth. Antilles (former)      141
      Sudan (former)               163
2001  Neth. Antilles (former)      141
      Sudan (former)               156
2002  Neth. Antilles (former)      141
      Sudan (former)               154
2003  Neth. Antilles (former)      141
      Sudan (former)               151
2004  Neth. Antilles (former)      141
      Sudan (former)               163
2005  Neth. Antilles (former)      141
      Sudan (former)               167
2006  Neth. Antilles (former)      147
      Sudan (former)               165
2007  Neth. Antilles (former)      147
      Sudan (former)               177
2008  Neth. Antilles (former)      147
      Sudan (former)               178
2009  Neth. Antilles (former)      147
      Sudan (former)               172
2010  Neth. Antilles (former)      147
      Sudan (former)               170
2011  Neth. Antilles (former)      147
      Sudan (former)               172
dtype: int64

In [6]:
to_remove['year'].value_counts().sort_index()

1990    1448
1991     802
1992     308
1993     312
1994     303
1995     307
1996     299
1997     317
1998     313
1999     310
2000     304
2001     297
2002     295
2003     292
2004     304
2005     308
2006     312
2007     324
2008     325
2009     319
2010     317
2011     319
Name: year, dtype: int64

In [7]:
new_df = df[df.year > 1993]
new_df.head()

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category
0,Austria,Additives and Oxygenates - Exports,1996,"Metric tons, thousand",5.0,NaN,additives_and_oxygenates
1,Austria,Additives and Oxygenates - Exports,1995,"Metric tons, thousand",17.0,NaN,additives_and_oxygenates
2,Belgium,Additives and Oxygenates - Exports,2014,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
3,Belgium,Additives and Oxygenates - Exports,2013,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
4,Belgium,Additives and Oxygenates - Exports,2012,"Metric tons, thousand",35.0,NaN,additives_and_oxygenates

### Checking the 'commodity_transaction' column

In [8]:
new_df.commodity_transaction.value_counts()

From combustible fuels – Main activity                                                               5656
Electricity - Gross demand                                                                           4700
Electricity - total net installed capacity of electric power plants, main activity & autoproducer    4698
Electricity - total net installed capacity of electric power plants, main activity                   4698
Electricity - Own use by electricity, heat and CHP plants                                            4695
                                                                                                     ...
Gas Coke - Consumption by commerce and public services                                                  0
Other bituminous coal - own use by briquetting plants                                                   0
Coke Oven Gas - Consumption by agriculture, forestry and fishing                                        0
Blast Furnace Gas - Transformation in coke ovens                                                        0
Patent fuel - Consumption by construction                                                               0
Name: commodity_transaction, Length: 2452, dtype: int64

In [9]:
new_df.commodity_transaction.str.count(" - ").value_counts()

1    962734
0     36500
2     32798
Name: commodity_transaction, dtype: int64

In [10]:
split_commodities = new_df.commodity_transaction.str.split(" - | – ",  expand=True)
split_commodities.head(20)

                           0        1     2
0   Additives and Oxygenates  Exports  None
1   Additives and Oxygenates  Exports  None
2   Additives and Oxygenates  Exports  None
3   Additives and Oxygenates  Exports  None
4   Additives and Oxygenates  Exports  None
5   Additives and Oxygenates  Exports  None
6   Additives and Oxygenates  Exports  None
7   Additives and Oxygenates  Exports  None
8   Additives and Oxygenates  Exports  None
9   Additives and Oxygenates  Exports  None
10  Additives and Oxygenates  Exports  None
11  Additives and Oxygenates  Exports  None
12  Additives and Oxygenates  Exports  None
13  Additives and Oxygenates  Exports  None
14  Additives and Oxygenates  Exports  None
15  Additives and Oxygenates  Exports  None
16  Additives and Oxygenates  Exports  None
17  Additives and Oxygenates  Exports  None
18  Additives and Oxygenates  Exports  None
19  Additives and Oxygenates  Exports  None

In [11]:
split_commodities.columns = ["commodity","transaction_type","additional_transaction_info"]
split_commodities.head()

                  commodity transaction_type additional_transaction_info
0  Additives and Oxygenates          Exports                        None
1  Additives and Oxygenates          Exports                        None
2  Additives and Oxygenates          Exports                        None
3  Additives and Oxygenates          Exports                        None
4  Additives and Oxygenates          Exports                        None

In [12]:
split_commodities.commodity = split_commodities.commodity.str.lower().str.strip()
split_commodities.commodity.value_counts().sort_index()

additives and oxygenates                                       2824
animal waste                                                   1744
anthracite                                                     4691
aviation gasoline                                             14894
bagasse                                                       10562
biodiesel                                                      4500
biogases                                                      10162
biogasoline                                                    3755
bitumen                                                       17656
black liquor                                                   3646
blast furnace gas                                             10349
brown coal                                                    16071
brown coal briquettes                                          4930
charcoal                                                      24115
coal                                                            814
coal tar                                                       2073
coke oven gas                                                 10121
coking coal                                                    5604
conventional crude oil                                        17914
crude petroleum                                                5275
direct use of geothermal heat                                  2204
direct use of solar thermal heat                               3298
electricity                                                  142596
electricity generating capacity                                3052
ethane                                                         1798
falling water                                                   754
feedstocks                                                     5062
from chemical heat                                              299
from chemical sources                                           305
from combustible fuels                                        17775
from electric boilers                                           164
from heat pumps                                                 129
from other sources                                             1071
fuel oil                                                      64546
fuelwood                                                      45184
gas coke                                                        226
gas oil/ diesel oil                                           84471
gasoline-type jet fuel                                          976
gasworks gas                                                   5342
geothermal                                                     1386
hard coal                                                     34432
heat                                                          19250
heat production                                                1689
hrad coal                                                       775
hydro                                                          4272
industrial waste                                               7836
kerosene-type jet fuel                                        29503
lignite                                                       10846
lignite brown coal                                              423
lignite brown coal- recoverable resources                       316
liquefied petroleum gas (lpg)                                 42492
liquified petroleum gas (lpg)                                 11643
lubricants                                                    18108
motor gasoline                                                45636
municipal waste                                                   3
municipal wastes                                               6261
naphtha                                                       13772
natural gas (including lng)                                   56830
natural gas liquids                                            7390
nuclear                                                        1463
of which: biodiesel                                            2600
of which: biogasoline                                          2128
of which: pumped hydro                                          633
oil shale                                                       654
other bituminous coal                                         20105
other coal products                                             105
other hydrocarbons                                             1760
other kerosene                                                36640
other liquid biofuels                                          1599
other oil products n.e.c.                                     19616
other recovered gases                                          1940
paraffin waxes                                                 6670
patent fuel                                                    2715
peat                                                           3743
peat (for fuel use)                                             902
peat products                                                  1625
petroleum coke                                                14726
refinery gas                                                  13703
solar                                                          1103
solar photovoltaic                                              926
solar thermal                                                   151
sub-bituminous coal                                            4666
tide, wave and marine                                            50
total refinery output                                          2429
total refinery throughput                                      2431
uranium                                                         580
vegetal waste                                                 12362
white spirit and special boiling point industrial spirits      8595
wind                                                           1597
Name: commodity, dtype: int64

In [13]:
#cleaning commodities
split_commodities.commodity = split_commodities.commodity.str.lower().str.strip()

split_commodities.commodity = split_commodities.commodity.str.replace('liquefied ', 'liquified ')
split_commodities.commodity = split_commodities.commodity.str.replace('wastes', 'waste')
split_commodities.commodity = split_commodities.commodity.str.replace('- recoverable resources', '')
split_commodities.commodity = split_commodities.commodity.str.replace('hrad', 'hard')
split_commodities.commodity.value_counts().sort_index()

additives and oxygenates                                       2824
animal waste                                                   1744
anthracite                                                     4691
aviation gasoline                                             14894
bagasse                                                       10562
biodiesel                                                      4500
biogases                                                      10162
biogasoline                                                    3755
bitumen                                                       17656
black liquor                                                   3646
blast furnace gas                                             10349
brown coal                                                    16071
brown coal briquettes                                          4930
charcoal                                                      24115
coal                                                            814
coal tar                                                       2073
coke oven gas                                                 10121
coking coal                                                    5604
conventional crude oil                                        17914
crude petroleum                                                5275
direct use of geothermal heat                                  2204
direct use of solar thermal heat                               3298
electricity                                                  142596
electricity generating capacity                                3052
ethane                                                         1798
falling water                                                   754
feedstocks                                                     5062
from chemical heat                                              299
from chemical sources                                           305
from combustible fuels                                        17775
from electric boilers                                           164
from heat pumps                                                 129
from other sources                                             1071
fuel oil                                                      64546
fuelwood                                                      45184
gas coke                                                        226
gas oil/ diesel oil                                           84471
gasoline-type jet fuel                                          976
gasworks gas                                                   5342
geothermal                                                     1386
hard coal                                                     35207
heat                                                          19250
heat production                                                1689
hydro                                                          4272
industrial waste                                               7836
kerosene-type jet fuel                                        29503
lignite                                                       10846
lignite brown coal                                              739
liquified petroleum gas (lpg)                                 54135
lubricants                                                    18108
motor gasoline                                                45636
municipal waste                                                6264
naphtha                                                       13772
natural gas (including lng)                                   56830
natural gas liquids                                            7390
nuclear                                                        1463
of which: biodiesel                                            2600
of which: biogasoline                                          2128
of which: pumped hydro                                          633
oil shale                                                       654
other bituminous coal                                         20105
other coal products                                             105
other hydrocarbons                                             1760
other kerosene                                                36640
other liquid biofuels                                          1599
other oil products n.e.c.                                     19616
other recovered gases                                          1940
paraffin waxes                                                 6670
patent fuel                                                    2715
peat                                                           3743
peat (for fuel use)                                             902
peat products                                                  1625
petroleum coke                                                14726
refinery gas                                                  13703
solar                                                          1103
solar photovoltaic                                              926
solar thermal                                                   151
sub-bituminous coal                                            4666
tide, wave and marine                                            50
total refinery output                                          2429
total refinery throughput                                      2431
uranium                                                         580
vegetal waste                                                 12362
white spirit and special boiling point industrial spirits      8595
wind                                                           1597
Name: commodity, dtype: int64

In [14]:
#cleaning transaction_type#

split_commodities.transaction_type = split_commodities.transaction_type.str.lower().str.strip()

def industry(row):
    x = str(row)
    if x.endswith('industry'):
        return row.replace('industry', '').strip()
    else:
        return row

split_commodities.transaction_type = split_commodities.transaction_type.apply(industry)
split_commodities.transaction_type = split_commodities.transaction_type.str.replace('commerce', 'commercial')
split_commodities.transaction_type = split_commodities.transaction_type.str.replace('transportation', 'transport')
split_commodities.transaction_type = split_commodities.transaction_type.str.replace('non energy', 'non-energy')
split_commodities.transaction_type = split_commodities.transaction_type.str.replace('energy uses', 'energy use')
split_commodities.transaction_type = split_commodities.transaction_type.str.replace('heat and chp plants', 'chp and heat plants')
split_commodities.transaction_type = split_commodities.transaction_type.str.replace('transformatin', 'transformation')
split_commodities.transaction_type = split_commodities.transaction_type.str.replace("consumption in", "consumption by")
split_commodities.transaction_type = split_commodities.transaction_type.str.replace("own use in", "own use by")
split_commodities.transaction_type = split_commodities.transaction_type.str.replace("transformation main ", "transformation in main")
split_commodities.transaction_type = split_commodities.transaction_type.str.replace("mainactivity", "main activity")
split_commodities.transaction_type = split_commodities.transaction_type.str.replace("non-fuel mining", "non-fuel")
split_commodities.transaction_type = split_commodities.transaction_type.str.replace("min. ind.", "")
split_commodities.transaction_type = split_commodities.transaction_type.str.replace("ind.", "")
split_commodities.transaction_type = split_commodities.transaction_type.str.lower().str.strip()

split_commodities.transaction_type.value_counts().sort_index()

C:\Users\user\AppData\Local\Temp\ipykernel_8072\2291445848.py:26: FutureWarning: The default value of regex will change from True to False in a future version.
  split_commodities.transaction_type = split_commodities.transaction_type.str.replace("min. ind.", "")
C:\Users\user\AppData\Local\Temp\ipykernel_8072\2291445848.py:27: FutureWarning: The default value of regex will change from True to False in a future version.
  split_commodities.transaction_type = split_commodities.transaction_type.str.replace("ind.", "")

additional resources                                                                     169
autoproducer                                                                           10915
autoproducer total                                                                       662
changes in stocks                                                                        643
commercial and public services                                                            53
consumption by agriculture, forestry and fishing                                       13227
consumption by briquetting plants                                                         40
consumption by chemical                                                                   42
consumption by chemical and petrochemical                                              10605
consumption by coal mines                                                                113
consumption by commercial and public services                                          14051
consumption by construction                                                             5584
consumption by domestic aviation                                                        3909
consumption by domestic navigation                                                      3161
consumption by electricity, chp and heat plants                                            9
consumption by energy sector                                                              57
consumption by food and tobacco                                                         8291
consumption by food, beverage and tobacco                                                252
consumption by households                                                              27921
consumption by iron and steel                                                          10709
consumption by lng/regasification plants                                                   3
consumption by machinery                                                                6357
consumption by manufacturing, construction and non-fuel                                34340
consumption by mining and quarrying                                                     5354
consumption by non-ferrous metals                                                       4885
consumption by non-metallic minerals                                                    9845
consumption by other                                                                   37679
consumption by other consumers                                                          1319
consumption by other consumers not elsewhere specified                                  1219
consumption by other manuf., const. and non-fuel                                       30408
consumption by other manufacturing, construction and non-fuel                           1315
consumption by other stries and construction                                             111
consumption by other transport                                                           274
consumption by paper, pulp and print                                                    6945
consumption by pipeline transport                                                        946
consumption by rail                                                                     3924
consumption by road                                                                    12588
consumption by stries not elsewhere specified                                           2828
consumption by stry & construction                                                       119
consumption by textile and leather                                                      5664
consumption by transport                                                               20538
consumption by transport equipment                                                      4136
consumption by wood and wood products                                                   4661
consumption for non-energy use                                                           745
consumption not elsewhere specified (other)                                            10533
consumption not elsewhere specified (stry)                                              9283
consumption not elsewhere specified (transport)                                         2218
conversion in blast furnaces                                                               6
conversion in briquetting plants                                                          18
energy stries own use                                                                  15253
estimated additional reserves                                                             42
exports                                                                                30939
extraction loss shrinkage                                                                590
final consumption                                                                      63026
final energy consumption                                                               58920
flared                                                                                   429
flared and vented                                                                        960
from other sources                                                                       494
gross demand                                                                            5836
gross production                                                                        5832
imports                                                                                52327
international aviation bunkers                                                          4891
international marine bunkers                                                            4665
losses                                                                                 10029
main activity                                                                          20409
main activity total                                                                     1027
memo: closing stock level (national territory)                                             8
memo: opening stock level (national territory)                                             8
memo:gross production                                                                   1972
net installed capacity of electric power plants public solar                             743
net installed capacity of electric power plants, public combustible fuels               4659
net installed capacity of electric power plants, public geothermal                       435
net installed capacity of electric power plants, public hydro                           3217
net installed capacity of electric power plants, public nuclear                          647
net installed capacity of electric power plants, public tide, wave, marine                53
net installed capacity of electric power plants, public wind                            1278
net installed capacity of electric power plants, self-producer combustible fuels        3121
net installed capacity of electric power plants, self-producer geothermal                 78
net installed capacity of electric power plants, self-producer hydro                    1259
net installed capacity of electric power plants, self-producer nuclear                    17
net installed capacity of electric power plants, self-producer solar                     494
net installed capacity of electric power plants, self-producer tide, wave, marine         16
net installed capacity of electric power plants, self-producer wind                      392
net production                                                                          5831
net transfers                                                                              1
non-energy use                                                                         15572
other energy stry own use                                                               2594
other reserves                                                                             9
other transformation                                                                    2090
other transformation processes not elsewhere classified                                    4
own use by biogas production plants                                                       52
own use by blast furnaces                                                                571
own use by briquetting plants                                                            543
own use by charcoal plants                                                                 3
own use by coal liquefaction plants                                                       40
own use by coal mines                                                                   3023
own use by coke ovens                                                                   2094
own use by electricity, chp and heat plants                                             7742
own use by gas works                                                                     766
own use by gas-to-liquid (gtl) plants                                                      8
own use by gasworks                                                                        2
own use by lng/regasification plants                                                     261
own use by nuclear fuel extraction and processing                                        163
own use by oil and gas extraction                                                       3374
own use by oil refineries                                                               9269
own use by other energy producers                                                         27
own use by pump-storage plants                                                           660
production                                                                             52072
production from off-shore                                                                343
production from plants                                                                  1507
production from refineries                                                             24677
pumped hydro                                                                            1065
re-injected                                                                              463
reasonably assured reserves                                                               61
receipts from other sources                                                             2584
recoverable                                                                               61
recoverable reserves                                                                     366
refinery capacity                                                                       2563
reserves                                                                                1974
reserves from oil shale                                                                   86
reserves from oil shale and tar sands                                                    119
reserves from tar sands                                                                   55
solar pv                                                                                1389
solar thermal                                                                            104
stock changes                                                                          28378
total energy supply                                                                    76975
total geothermal production                                                              427
total hydraulic resources                                                                754
total hydro production                                                                  3194
total known reserves                                                                     421
total net installed capacity of electric power plants, autoproducer                     3188
total net installed capacity of electric power plants, combustible fuels                4668
total net installed capacity of electric power plants, geothermal                        454
total net installed capacity of electric power plants, hydro                            3241
total net installed capacity of electric power plants, main activity                    4698
total net installed capacity of electric power plants, main activity & autoproducer     4698
total net installed capacity of electric power plants, nuclear                           647
total net installed capacity of electric power plants, solar                            1038
total net installed capacity of electric power plants, tide, wave, marine                 69
total net installed capacity of electric power plants, wind                             1347
total nuclear production                                                                 647
total production, autoproducer                                                          3108
total production, main activity                                                         4695
total resources                                                                          886
total resources in place                                                                 469
total solar production                                                                   907
total thermal production                                                                4665
total tide, wave production                                                               50
total wproduction                                                                       1297
transfers and recycled products                                                         7127
transformation                                                                         31025
transformation in autoproducer chp plants                                                974
transformation in autoproducer electricity plants                                        554
transformation in autoproducer heat plants                                               503
transformation in blast furnaces                                                         914
transformation in briquetting plants                                                     804
transformation in charcoal plants                                                       2905
transformation in chp plants                                                            9843
transformation in coal liquefaction plants                                                52
transformation in coke ovens                                                            1861
transformation in electricity plants                                                   14184
transformation in electricity, chp and heat plants                                     21325
transformation in gas works                                                              731
transformation in gas-to-liquid plants                                                    46
transformation in heat plants                                                           5719
transformation in main activity chp plants                                               645
transformation in main activity electricity plants                                      1080
transformation in main activity heat plants                                              357
transformation in main activity producer chp plants                                      410
transformation in main activity producer electricity plants                              638
transformation in main activity producer heat plants                                     251
transformation in natural gas blending plants                                            204
transformation in oil refineries                                                        4704
transformation in other energy-producing plants                                           68
transformation in petrochemical plants                                                  1394
used for electric boilers                                                                167
used for electricity production                                                          199
used for heat pumps                                                                      124
vented                                                                                   199
Name: transaction_type, dtype: int64

In [15]:
split_commodities.additional_transaction_info = split_commodities.additional_transaction_info.str.lower().str.strip()
split_commodities.additional_transaction_info.value_counts()

main activity producers    16945
autoproducers              14465
electricity plants          5436
chp plants                  3598
heat plants                 1704
total                       1388
Name: additional_transaction_info, dtype: int64

In [16]:
split_commodities.head()

                  commodity transaction_type additional_transaction_info
0  additives and oxygenates          exports                        None
1  additives and oxygenates          exports                        None
2  additives and oxygenates          exports                        None
3  additives and oxygenates          exports                        None
4  additives and oxygenates          exports                        None

### Adding new columns to the original table

In [17]:
new_data = pd.concat([new_df, split_commodities.commodity,split_commodities.transaction_type,split_commodities.additional_transaction_info],axis=1)
new_data.tail(20)

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category,commodity,transaction_type,additional_transaction_info
1189462,Uruguay,Electricity - total wind production,2013,"Kilowatt-hours, million",142.90,NaN,wind_electricity,electricity,total wproduction,None
1189463,Uruguay,Electricity - total wind production,2012,"Kilowatt-hours, million",117.80,NaN,wind_electricity,electricity,total wproduction,None
1189464,Uruguay,Electricity - total wind production,2011,"Kilowatt-hours, million",111.30,NaN,wind_electricity,electricity,total wproduction,None
1189465,Uruguay,Electricity - total wind production,2010,"Kilowatt-hours, million",69.90,NaN,wind_electricity,electricity,total wproduction,None
1189466,Uruguay,Electricity - total wind production,2009,"Kilowatt-hours, million",42.10,NaN,wind_electricity,electricity,total wproduction,None
1189467,Uruguay,Electricity - total wind production,2008,"Kilowatt-hours, million",7.30,NaN,wind_electricity,electricity,total wproduction,None
1189468,Vanuatu,Electricity - total wind production,2014,"Kilowatt-hours, million",3.00,1.0,wind_electricity,electricity,total wproduction,None
1189469,Vanuatu,Electricity - total wind production,2013,"Kilowatt-hours, million",3.00,1.0,wind_electricity,electricity,total wproduction,None
1189470,Vanuatu,Electricity - total wind production,2012,"Kilowatt-hours, million",2.90,NaN,wind_electricity,electricity,total wproduction,None
1189471,Vanuatu,Electricity - total wind production,2011,"Kilowatt-hours, million",5.00,1.0,wind_electricity,electricity,total wproduction,None
1189472,Vanuatu,Electricity - total wind production,2010,"Kilowatt-hours, million",5.17,NaN,wind_electricity,electricity,total wproduction,None
1189473,Vanuatu,Electricity - total wind production,2009,"Kilowatt-hours, million",5.63,NaN,wind_electricity,electricity,total wproduction,None
1189474,Vanuatu,Electricity - total wind production,2008,"Kilowatt-hours, million",5.63,NaN,wind_electricity,electricity,total wproduction,None
1189475,Viet Nam,Electricity - total wind production,2014,"Kilowatt-hours, million",300.00,1.0,wind_electricity,electricity,total wproduction,None
1189476,Viet Nam,Electricity - total wind production,2013,"Kilowatt-hours, million",92.00,1.0,wind_electricity,electricity,total wproduction,None
1189477,Viet Nam,Electricity - total wind production,2012,"Kilowatt-hours, million",92.00,1.0,wind_electricity,electricity,total wproduction,None
1189478,Viet Nam,Electricity - total wind production,2011,"Kilowatt-hours, million",87.00,NaN,wind_electricity,electricity,total wproduction,None
1189479,Viet Nam,Electricity - total wind production,2010,"Kilowatt-hours, million",50.00,NaN,wind_electricity,electricity,total wproduction,None
1189480,Viet Nam,Electricity - total wind production,2009,"Kilowatt-hours, million",10.00,NaN,wind_electricity,electricity,total wproduction,None
1189481,Viet Nam,Electricity - total wind production,2008,"Kilowatt-hours, million",1.00,NaN,wind_electricity,electricity,total wproduction,None

### Creating a file

In [19]:
new_data.to_csv('ready_data.csv', index=False)