In [14]:
import sys
sys.path.append('../functions')  # getting to below function

from df_cleaning import df_cleaning  # data celaning function

import numpy as np
import pandas as pd

from sklearn.dummy import DummyRegressor
# from sklearn.metrics import mean_squared_error as MSE
from sklearn import metrics 

from sklearn import (
    model_selection,
    preprocessing,
)

In [2]:
df = pd.read_csv("../data/insurance.csv")

In [3]:
df = df_cleaning(df)
df.head(5)

1. All duplicated rows within dataset will be dropped. Found: 1 duplicated rows.
2. All missing values within dataset will be replaced with 0. Found: 0 missing values.

,age,bmi,children,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest,charges
0,19,27.900,0,0,1,0,0,1,16884.92400
1,18,33.770,1,1,0,0,1,0,1725.55230
2,28,33.000,3,1,0,0,1,0,4449.46200
3,33,22.705,0,1,0,1,0,0,21984.47061
4,32,28.880,0,1,0,1,0,0,3866.85520

In [4]:
X = df.drop('charges', axis = 1)
y = df['charges']

In [6]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.33, random_state=0)

In [8]:
dr = DummyRegressor()
dr.fit(X_train, y_train)

DummyRegressor()

In [10]:
# Predict the model
y_pred = dr.predict(X_test)
y_pred == y_test

1248    False
610     False
393     False
503     False
198     False
        ...
885     False
422     False
294     False
261     False
611     False
Name: charges, Length: 442, dtype: bool

In [11]:
# RMSE Computation
rmse = np.sqrt(MSE(y_test, y_pred))
print("RMSE : % f" %(rmse))

RMSE :  12584.486593

In [15]:
def show_metrics(model,x_test,y_test):
    y_pred = model.predict(x_test)
    MAE_dr= metrics.mean_absolute_error(y_test, y_pred)
    MSE_dr = metrics.mean_squared_error(y_test, y_pred)
    RMSE_dr =np.sqrt(MSE_XGB)
    R2_dr_perc = (metrics.r2_score(y_test, y_pred))*100
    print("RMSE: {:.4f}, R2: {:.2f}%, MSE: {:.4f}".format(RMSE_XGB,R2_XGB_perc,MSE_XGB))

In [16]:
show_metrics(dr,X_test,y_test)

RMSE: 12584.4866, R2: -0.19%, MSE: 158369302.8065